{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% spaceless %}
        {% if object.parent.children[0].id != object.id %}
            <a href="{{ path('taxon_tree_up', {'taxon_id': object.id}) }}">
                <i class="icon-arrow-up">&nbsp;</i>
            </a>
        {% endif %}
    {% endspaceless %}
{% endblock %}
