{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
       {% if object.path is not empty %}
           <img src="{{ object.path | imagine_filter('quattro_28x28')}}" />
       {% endif %}
    </div>
{% endblock %}